/* body {
  margin: 0;
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(88, 87, 87);
  background-image: url(./bg.jpg);
}

code {
  font-family: "Montserrat";
} */

